.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ? my styling */
* {
  padding: 0;
  margin: 0;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px;
  display: flex;
  background: rgb(121, 115, 115);
  z-index: 999;
}

nav a,
.links a {
  text-decoration: none;
  color: black;
  margin: 23px;

}

nav a:hover,
.links a:hover {
  color: white;
}

.table {
  margin-top: 124px;

}

td.img {
  border-radius: 50%;
}

.main,
h2 {
  position: absolute;
  top: 40px;
    padding-top: 12px;
    height: 100vh;
    width: 100%;
    color: white;
    background: rgba(17, 16, 16, 0.75) url("../public/img/netflix0.jpg");
    background-repeat: no-repeat;
    background-blend-mode: darken;
  }
  
  .main .table {
    justify-content: center;
    margin: 12px auto;
    color: white;
  }
  
  
  
  .movieContent {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer {
  bottom: 0;
  position: fixed;
    z-index: 999;
  width: 100%;
  height: 100px;
  padding: 12px;
  display: flex;
  background: rgb(121, 115, 115);
}